* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.clear {
  clear: both;
}

.button {
  padding: 14px 36px;
  background-color: #fdc800;
  color: #1b1d2d;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}

.highlight {
  border: 0.01px solid rgba(128, 128, 128, 0.11);
  margin-bottom: 15px;
}

.border-right {
  border-right: 0.01px solid rgba(0, 33, 70, 0.507);
  margin-left: 20px;
  margin-right: 20px;
}

/* start header */

.logo {
  padding: 20px 0;
}

.logo i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  background-color: rgba(0, 33, 70, 0.836);
  color: #e8ba08;
  text-align: center;
  vertical-align: bottom;
  margin-right: 3px;
  font-size: 14px;
}

.logo span {
  color: #1b1d2d;
  font-size: 32px;
  font-weight: bold;
}

.nav {
  margin-bottom: 20px;
}

.nav li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}

.nav a {
  text-decoration: none;
  color: #1b1d2d;
  font-size: 17px;
  font-weight: bold;
}

/* end header */

/* start banner */

.banner {
  background-image: url(./img/2.jpg);
  background-size: cover;
  background-position: top;
  height: 90vh;
  min-height: 600px;
}

/* end banner */

/* start campus */

.campus {
  padding: 40px 0;
}

.campus__left,
.campus__right {
  float: left;
  width: 50%;
  padding: 20px 20px;
}

.campus__left h2 {
  font-size: 32px;
  color: #1b1d2d;
  margin-bottom: 20px;
}

.campus__left p {
  margin-bottom: 20px;
}

.campus__left button {
  margin-top: 20px;
}

.campus__right img {
  width: 90%;
  border-radius: 0 6px 6px 0;
}

/* end campus */

/* start number */

.number {
  background-color: #f6f6f6;
  padding: 50px;
}

.number__item {
  float: left;
  width: 25%;
  padding-right: 42px;
}

.number__left,
.number__right {
  float: left;
}

.number__left {
  width: 30%;
}

.number__left h2 {
  font-size: 50px;
  color: #1b1d2d;
}

.number__right {
  width: 70%;
  padding-top: 7px;
}

.number__right span {
  font-size: 20px;
  text-transform: uppercase;
  color: #1b1d2d;
}

/* end number */

/* start products */

.products {
  padding: 60px 0;
}

.products__item {
  float: left;
  width: 25%;
  padding: 15px;
}

.products__wrapper {
  background-color: #002146;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 15px 30px;
}

.products__item i {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.products__item p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* end products */

/* start news */

.news {
  padding: 60px 0;
  background-color: #f6f6f6;
}

.news__post,
.news__event {
  float: left;
  width: 50%;
}

.news__post h2,
.news__event h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 35px;
}

.post__list {
  background-color: white;
  color: #1b1d2d;
  padding: 20px;
  margin-right: 30px;
}

.post__item {
  margin-bottom: 20px;
}

.item__left,
.item__right {
  float: left;
}

.item__left {
  width: 30%;
}

.item__left img {
  width: 100%;
  border-radius: 6px;
}

.item__right {
  width: 70%;
  padding-left: 15px;
}

.item__right h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.item__right p:first-of-type {
  margin-bottom: 15px;
  color: gray;
}

.news__post button {
  margin-top: 20px;
  margin-right: 30px;
}

.news__event {
  padding-left: 30px;
}

.event__item {
  margin-bottom: 40px;
  background-color: white;
  color: #1b1d2d;
  padding: 20px;
}

.event__left,
.event__right {
  float: left;
}

.event__left {
  width: 20%;
}

.card {
  width: 100%;
  text-align: center;
}

.card__top {
  background-color: #fdc800;
  border-radius: 6px 6px 0 0;
  padding: 10px 0;
}

.card__top h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.card__bottom {
  background-color: #002146;
  border-radius: 0 0 6px 6px;
  color: white;
  padding: 10px 0;
}

.event__right {
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
}

.event__right h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.event__right p {
  line-height: 20px;
  margin-bottom: 10px;
}

.event__right span {
  color: #002146;
  font-weight: bold;
}

/* end news */

/* start footer */

.footer {
  background-color: #002146;
  color: white;
  padding: 60px 0;
  font-size: 16px;
}

.footer h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.contact,
.links {
  float: left;
}

.contact {
  width: 30%;
  padding-right: 40px;
}

.contact div {
  margin-bottom: 10px;
  line-height: 22px;
}

.contact i {
  color: #e8ba08;
  margin-right: 10px;
}

.links {
  width: 70%;
}

.links__left {
  float: left;
  width: 50%;
}

.links__left li {
  list-style: none;
  margin-bottom: 10px;
}

.links__left a {
  text-decoration: none;
  color: white;
}

.highlight1 {
  border: 0.01px solid rgba(128, 128, 128, 0.384);
  margin-bottom: 30px;
  margin-top: 30px;
}

/* end footer */
